/* Header links*/
.Header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #171a23;
  color: #fff;
}
/* Header responsive*/
@media screen and (max-width: 768px) {
  .Header-content {
    flex-direction: column;
  }
}
/* min width and max*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .Header-content {
    flex-direction: column;
  }
}
/* Nav links*/

.nav-links {
  display: flex;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    margin: 0 0.25rem;
    transition: all 0.3s linear;
    font-size: 1.2rem;
}
/* Nav links hover*/
.nav-links a:hover {
  background: #fff;
  color: #000;
}
/* Nav links responsive*/
@media screen and (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    color: #fff;
  }
}


/* Body content*/

.body {
  background: #1a202c;
  color: #fff;
  padding: 1rem 2rem;  
  height: 100vh;
}
.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10rem;
}
.home-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #25d366;
}

.home-content p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* send message button*/

.wa-btn {
  display: inline-block;
  background: #25d366;
  color: #fff;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 35px;
  margin-top: 1rem;
  transition: all 0.3s linear;
}

.wa-btn:hover {
  background: #fff;
  color: #000;
}